.box {
    border: 1px solid black;
    margin: 90px 260px 80px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
}

h5, button {
    align-self: flex-end;
}

button {
    color: white;
    border: none;
    padding: 15px;
}


