* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

h1, form {
    margin: 6%;
}

input {
    width: 100%;
    background-color: white;
    border: none;
    padding: 5px;
 margin: 10px;
 border-radius: 5px;
}

input::placeholder {
    color: grey;
}

input:focus {
    color: grey;
}

input[type="submit"] {
    background-color: rgba(0, 0, 0, 0.356);
    color: white;
    border-radius: 7px;

}



/* ------------- */

nav,
footer {

  background-color: black;
  padding: 10px;
  color: white;

}

.menu {
  right: 10px;
  top: 10px;
  position: absolute;
}

a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

.gap {
  height: 70vh;
}

p {
  color: white;
  text-align: right;
  right: 10px;
}
