* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: repeat(16, 50px) / repeat(16, 50px);
   
}

.white {
    background-color: white;
}

.pink {
    background-color: pink;
}

.red {
    background-color: red;
}